.wrapper {
  position: absolute;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 20px;
  height: 20px;
}

.form {
  --spacing: 1.6rem;
  --ygg-clr-gradient: linear-gradient(180deg, rgba(110, 223, 224, 1) 0%, rgba(101, 221, 176, 1) 100%);
  --ygg-clr-black: #25272f;
  --ygg-clr-background: #25272f;
  --ygg-clr-white: #cbd1da;
  position: relative;
  z-index: 999999;
  background-color: var(--ygg-clr-background);
  font-size: 1rem;
  font-weight: bold;
  padding: var(--spacing);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
  gap: var(--spacing);

  & *,
  ::before,
  ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  & > div:nth-child(2) {
    grid-area: autoToggle;
  }
}