.button {
  --transition: 250ms ease;
  width: 100%;
  height: 100%;

  &:hover {
    & svg stop {
      &:first-child {
        stop-color: #6edfe0;
      }

      &:last-child {
        stop-color: #65ddb0;
      }
    }
  }

  & .svg {
    width: 100%;
    height: 100%;

    & path {
      fill: url("#gradient");
    }

    & stop {
      transition: var(--transition);
    }
  }
}