.sortForm {
  position: relative;
  background-color: var(--ygg-clr-background);
  font-size: 1rem;
  font-weight: bold;
  padding: var(--spacing);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
  gap: var(--spacing);

  & *,
  ::before,
  ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  & > div:nth-child(2) {
    grid-area: autoToggle;
  }
}