.arrowSvg {
  pointer-events: none;
  position: relative;
  width: 25px;
  height: 25px;

  &.down {
    rotate: 180deg;
  }

  & path {
    stroke: var(--ygg-clr-black);
    stroke-width: 1px;
    fill: var(--ygg-clr-black);
  }
}