.form {
  --spacing: 2rem;
  --ygg-clr-gradient: linear-gradient(180deg, rgba(110, 223, 224, 1) 0%, rgba(101, 221, 176, 1) 100%);
  --ygg-clr-black: #25272f;
  --ygg-clr-background: #25272f;
  --ygg-clr-white: #cbd1da;
  position: fixed;
  z-index: 2147483638;
  background-color: var(--ygg-clr-background);
  font-size: 1rem;
  font-weight: bold;
  padding: var(--spacing);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  gap: var(--spacing);
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(auto, 2);
  grid-template-areas:
    "sortType sortOrder"
    "autoToggle sortOrder";

  & *,
  ::before,
  ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  & > div:nth-child(2) {
    grid-area: autoToggle;
  }

  .checkboxWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: var(--spacing);

    & label {
      flex: 1;
      display: flex;
      align-items: center;
      padding-inline-end: var(--spacing);
      white-space: nowrap;
      color: var(--ygg-clr-white);
    }

    & input[type="checkbox"] {
      height: 18px;
      width: 18px;
      cursor: pointer;
    }
  }

  .sortType {
    grid-area: sortType;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
  }

  .sortOrder {
    grid-area: sortOrder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--spacing));

    & .orderButton {
      display: flex;
      padding: calc(var(--spacing) / 5);
      background: var(--ygg-clr-gradient);

      & .arrowSvg {
        --clr-svg: var(--ygg-clr-black);
        width: 32px;
        height: 32px;

        &.down {
          rotate: 180deg;
        }

        & path {
          stroke: var(--clr-svg);
          stroke-width: 1px;
          fill: var(--clr-svg);
        }
      }
    }
  }
}