.sortOrder {
  grid-area: sortOrder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacing));

  & .orderButton {
    display: flex;
    padding: 1px;
    background: var(--ygg-clr-gradient);
  }
}