.customSvgWithGradient {
  width: 100%;
  height: 100%;

  & stop {
    transition: var(--transition);

    &:first-child {
      stop-color: var(--ygg-clr-white-dark);
    }

    &:last-child {
      stop-color: var(--ygg-clr-white-dark);
    }
  }
}