.sortOrder {
  grid-area: sortOrder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacing));

  & .orderButton {
    position: relative;
    display: flex;
    padding: 1px;
    background: var(--ygg-clr-white);

    &::before {
      opacity: 0;
      position: absolute;
      content: "";
      inset: 0;
      background: var(--ygg-clr-gradient);
      transition: opacity 300ms;
    }

    &[data-active] {
      background: var(--ygg-clr-gradient);

      &::before {
        opacity: 1;
      }
    }
  }
}